
/* Remove bottom dropdown in Exago Prefilter Multiselect control */
.wrFilterValueBottomContainer {
	pointer-events: none;
}
.wrFilterValueMultiEditImgBtn {
	display: none;
}

/* Remove center horizontal bar in Exago Multiselect control */
.wrFilterValueMultiAddBtnContainer {
    display: none;
}

/* Remove gear icon */
.wrEditCtrlSearchSettingBtn {
	display: none;
}