<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AntiXSS" version="4.3.0" targetFramework="net461" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net471" />
  <package id="Castle.Windsor" version="4.1.0" targetFramework="net471" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="ProgressBook.Framework.Common.Lite" version="18.3.0.16" targetFramework="net471" />
  <package id="ProgressBook.IdentityServer.Client" version="18.3.0.16" targetFramework="net471" />
  <package id="ProgressBook.IdentityServer.Client.CentralAdmin" version="18.3.0.16" targetFramework="net471" />
  <package id="ProgressBook.Shared.Cache.Redis" version="1.0.0.18" targetFramework="net471" />
  <package id="ProgressBook.Shared.Security" version="0.1.1.23-pre" targetFramework="net471" />
  <package id="ProgressBook.Shared.Utilities" version="1.1.0.0" targetFramework="net461" />
  <package id="ProgressBook.Shared.Utilities.Data" version="1.6.1.0" targetFramework="net461" />
  <package id="ProgressBook.Shared.Utilities.Logging" version="1.0.0.1" targetFramework="net471" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net471" />
  <package id="Z.EntityFramework.Plus.EF6" version="1.4.36" targetFramework="net461" />
</packages>