<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AntiXSS" version="4.3.0" targetFramework="net461" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net48" />
  <package id="Castle.Windsor" version="4.1.1" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net48" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="Pipelines.Sockets.Unofficial" version="1.0.9" targetFramework="net472" />
  <package id="ProgressBook.Framework.Common.Lite" version="20.0.0.6" targetFramework="net48" />
  <package id="ProgressBook.IdentityServer.Client" version="20.0.0.6" targetFramework="net48" />
  <package id="ProgressBook.IdentityServer.Client.CentralAdmin" version="20.0.0.6" targetFramework="net48" />
  <package id="ProgressBook.IdentityServer.Shared" version="20.0.0.6" targetFramework="net48" />
  <package id="ProgressBook.Shared.Cache.Redis" version="1.0.0.19" targetFramework="net472" />
  <package id="ProgressBook.Shared.Security" version="0.3.0.1" targetFramework="net48" />
  <package id="ProgressBook.Shared.Utilities" version="1.1.0.0" targetFramework="net461" />
  <package id="ProgressBook.Shared.Utilities.Data" version="1.6.1.0" targetFramework="net461" />
  <package id="ProgressBook.Shared.Utilities.Logging" version="1.0.0.1" targetFramework="net471" />
  <package id="StackExchange.Redis" version="2.0.519" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Diagnostics.PerformanceCounter" version="4.5.0" targetFramework="net472" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="4.5.3" targetFramework="net472" />
  <package id="System.Memory" version="4.5.2" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Threading.Channels" version="4.5.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net472" />
  <package id="xunit" version="2.2.0" targetFramework="net461" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net461" />
  <package id="xunit.assert" version="2.2.0" targetFramework="net461" />
  <package id="xunit.core" version="2.2.0" targetFramework="net461" />
  <package id="xunit.extensibility.core" version="2.2.0" targetFramework="net461" />
  <package id="xunit.extensibility.execution" version="2.2.0" targetFramework="net461" />
  <package id="Z.EntityFramework.Extensions" version="4.0.59" targetFramework="net48" />
  <package id="Z.EntityFramework.Plus.EF6" version="1.12.19" targetFramework="net48" />
  <package id="Z.Expressions.Eval" version="3.1.8" targetFramework="net48" />
</packages>